################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.dll.config
*.lnk
*.user
.vs/
1-user-setup.sql
obj/
packages/
unpublished.config
/.svn
/bin/*.xml
/lib/emsi/
/lib/ki/
/Web.config
